<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap" rel="stylesheet">
    <title>laksh</title>
</head>
<body>
    <main>
        <section class="title">
            <div class = "link-row">
                <h3><span class = "hidden">cd</span>/<a href="/">about</a></h3>
                <h3><span class = "hidden">cd</span>/<a href="/">skills</a></h3>
            </div>
            <div class = "heading">
            <h1 class="name">@lakshya-malik<span style="color: rgb(2, 151, 214); font-weight: 600;">:</span>~<span style="color: rgb(2, 151, 214); font-weight: 600;">$</span></h1>
            <h1 class="blinking-cursor">|</h1>
        </div>
        </section>
    </main>
    
</body>
</html>